@font-face {
  font-family: "Fors Regular";
  src: url("../fonts/TTForsEducationalRegular.woff2") format("woff2"), url("../fonts/TTForsEducationalRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Fors Medium";
  src: url("../fonts/TTForsEducationalMedium.woff2") format("woff2"), url("../fonts/TTForsEducationalMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Fors DemiBold";
  src: url("../fonts/TTForsEducationalDemiBold.woff2") format("woff2"), url("../fonts/TTForsEducationalDemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
html {
  min-height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Fors Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  background: linear-gradient(180deg, #eefec0 2.5%, #fff 23.96%, #ffeba9 32.87%, #ffe89b 36.2%, #fff 50.31%, #ffd8df 58.09%, #ffcfd8 63.25%, #ffd7de 66.25%, #fff 75.27%, #c8e6f3 100%);
  background-repeat: no-repeat;
  min-height: 253.18vw;
}

.wrapper {
  height: 100%;
  min-height: 253.18vw;
  background-image: url("../img/line3.svg");
  background-size: contain;
  width: 100%;
  background-position: -0.1vw 1.9vw;
  background-repeat: no-repeat;
}

.dot1 {
  border-radius: 50%;
  background-color: black;
  width: 1.56vw;
  height: 1.56vw;
  position: absolute;
  top: 15.9vw;
  right: 31.72vw;
  cursor: pointer;
}

.SummerCamps_heading {
  position: absolute;
  top: 78.7vw;
  left: 7.2vw;
  font-size: clamp(0.5rem, 3vw, 3.75rem);
  font-family: "Fors Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.year {
  font-size: clamp(1rem, 5vw, 5.625rem);
  font-family: "Fors Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 9.38vw;
  right: 27vw;
}

.throughRussia {
  position: absolute;
  top: 26.15vw;
  left: 1.72vw;
}
.throughRussia__heading {
  width: 45vw;
  margin-bottom: 27px;
}
.throughRussia__text {
  font-size: clamp(0.4em, 1.5vw, 1.875rem);
  width: 42.5vw;
  max-width: 839px;
  margin-left: 3.96vw;
  line-height: 112.5%;
}

#fadeInElement {
  display: none;
  position: absolute;
  font-size: clamp(0.4em, 1.5vw, 1.875rem);
  font-style: normal;
  font-weight: 500;
  line-height: 112.5%; /* 33.75px */
  top: 20.99vw;
  right: 22.86vw;
}

.dot2 {
  border-radius: 50%;
  background-color: black;
  width: 1.56vw;
  height: 1.56vw;
  position: absolute;
  top: 82.8vw;
  left: 19.53vw;
}

.SummerCamps {
  position: absolute;
  top: 90.32vw;
  display: flex;
  gap: 6.44vw;
  margin: 0 auto;
  width: 81.82vw;
  margin-left: 7.2vw;
}
.SummerCamps__img-true {
  width: 40vw;
  z-index: -1;
  position: relative;
}
.SummerCamps__img-text {
  margin-top: -11px;
  margin-left: -0.43vw;
  font-size: clamp(0.3em, 1vw, 1.4rem);
}
.SummerCamps__right-heading {
  width: 31.61vw;
  margin-top: 8.5vw;
}
.SummerCamps__right-text {
  text-wrap: balance;
  font-size: clamp(0.4rem, 1.5vw, 1.875rem);
  width: 34.69vw;
}
@media (max-width: 1440px) {
  .SummerCamps__right-text {
    margin: 0;
    width: 39.69vw;
  }
}
.SummerCamps__right-img {
  width: 5.47vw;
  margin-top: 2.24vw;
}

.dot3 {
  border-radius: 50%;
  background-color: black;
  width: 1.56vw;
  height: 1.56vw;
  position: absolute;
  left: 46.88vw;
  top: 161.61vw;
}

.dot4 {
  border-radius: 50%;
  background-color: black;
  width: 1.56vw;
  height: 1.56vw;
  position: absolute;
  left: 27.5vw;
  top: 166vw;
}

.maria {
  width: 35.47vw;
  max-width: 681px;
  font-size: clamp(0.4em, 1.5vw, 1.875rem);
  position: absolute;
  top: 150.94vw;
  right: 11.09vw;
}

.bird {
  position: absolute;
  top: 186.7vw;
  left: 11.2vw;
  width: 14.58vw;
}

.dot5 {
  border-radius: 50%;
  background-color: black;
  width: 1.56vw;
  height: 1.56vw;
  position: absolute;
  left: 37.4vw;
  top: 201.61vw;
}

.dot6 {
  border-radius: 50%;
  background-color: black;
  width: 1.56vw;
  height: 1.56vw;
  position: absolute;
  left: 34.4vw;
  top: 214.17vw;
}

.Contest_heading {
  position: absolute;
  top: 160.3vw;
  right: 10.08vw;
  font-size: clamp(0.5rem, 3vw, 3.75rem);
  font-family: "Fors Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.grade {
  position: absolute;
  top: 141.35vw;
  right: 15.21vw;
  width: 31.25vw;
}

.contest {
  position: absolute;
  width: 20.73vw;
  left: 7.34vw;
  top: 140.15vw;
}

.context_text {
  width: 22.86vw;
  max-width: 439px;
  font-size: clamp(0.4em, 1.5vw, 1.875rem);
  position: absolute;
  top: 151vw;
  left: 6.56vw;
}

.samara {
  position: absolute;
  top: 160.3vw;
  left: 6.56vw;
  font-size: clamp(0.5rem, 3vw, 3.75rem);
  font-family: "Fors Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.thread {
  position: absolute;
  width: 33.59vw;
  top: 173vw;
  left: 37.5vw;
}

.thread_text {
  width: 50vw;
  max-width: 1000px;
  font-size: clamp(0.4em, 1.5vw, 1.875rem);
  position: absolute;
  top: 184.4vw;
  right: 12.5vw;
}

.thread_heading {
  position: absolute;
  top: 197.2vw;
  right: 36.56vw;
  font-size: clamp(0.5rem, 3vw, 3.75rem);
  font-family: "Fors Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.mag__img {
  position: absolute;
  z-index: -1;
  top: 204.96vw;
  right: 5.63vw;
}
.mag__img-true {
  width: 37.69vw;
}

.mag_heading {
  position: absolute;
  top: 218.33vw;
  left: 7.45vw;
  font-size: clamp(0.5rem, 3vw, 3.75rem);
  font-family: "Fors Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.mag {
  position: absolute;
  width: 47.4vw;
  top: 226.61vw;
  left: 5.89vw;
}

.mag-text {
  width: 44.4vw;
  max-width: 911px;
  font-size: clamp(0.4em, 1vw, 1.875rem);
  position: absolute;
  top: 238.85vw;
  left: 7.4vw;
  max-width: 671px;
}

.mag__img-text {
  margin-top: 0px;
  font-size: clamp(0.3em, 1.5vw, 1.4rem);
  text-align: end;
}/*# sourceMappingURL=style.css.map */