@use "fonts";
html {
  min-height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Fors Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
